main {
    background-color: white;
    max-width: 70%;
    margin: 0 auto;
    padding: 70px;
}
body{
    background-image: url("https://tweedekamer2017.stemwijzer.nl/public/gfx/background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 28px 0px;
    background-color: #7d05c0;
}

#Logo {
    height: 56px;
    width: 270px;
    background-size: contain;
    background-position: center left;
    display: inline-block;
    background-repeat: no-repeat;
}

.button {
    min-width: 100px;
    min-height: 68px;
    background-color: black;
    color: white;
    transition: background-color .2s ease;
    display: inline-block;
    padding: .65em .5em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.hide {
    display: none;
}

.show {
    display: block;
}